.dashboard-main {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

header {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
}

.currentkey-div {
  /* z-index: 999; */

  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
  flex-direction: column;

  text-align: center;
  background-color: #ececec;
  border: 2px solid #b4bfca;
  padding: 20px 50px;
  /* border-radius: 5px; */
}

.currentkey-div p {
  margin: 10px 0;
}

.currentkey-div .copy-btn {
  background-color: #fff !important;
  border-radius: 3px !important;
  margin-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-user-div {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.header-user-div p {
  margin-bottom: 10px;
}

.dashboard-div-btn {
  z-index: 999;
  /* margin: 0 10px !important; */
  padding: 20px !important;
}
